body{
    background-color:beige;
}
.box{
    width: 100%;
    padding: 25px;
    border: 5px solid rgb(248, 243, 243);
    align-items:right;
    background-color: #dddddd;
    display: grid;
    grid-area: box;
    padding: 20px;
    
}
.box ul{
    display: inline-block;
    justify-content: left;
}

.box a{
    text-decoration: none;
    line-height:20px;
    color:#079def;
    Padding:10px;
  }
  
.box a:hover{
    color:#7a5dd2;
  }


  .main{
    width: 84%;
    padding: 25px;
    border: 5px solid rgb(248, 243, 243);
    align-items:right;
    margin-left: 150px;
    background-color: #ffffff;
 
    padding: 20px;
    height: 90vh;
}
  .main ul{
    display: inline-block;
    justify-content: left;
  }
  .main li .search{
    border:1px solid lightgray;
    justify-content: right;
    width:300px;
    border-radius: 5px;
    font-style: italic;
    display: block;
    color: rgb(20, 20, 20);
    text-align:left;
    margin-left:700px;
    height:20px;
  }
  .main li{
    display: inline-block;
    justify-content: left;
  }

  .main a{
    text-decoration: none;
    line-height:20px;
    color:#079def;
    Padding:10px;
  }
  
.main a:hover{
    color:#7a5dd2;
  }

  .jform{
    width: 100%;
    height:100%;
    align-items:right;
    margin-left: 0px;
    background-color: white;   
    padding: 20px;
    
}

  .jform a{
    text-decoration: none;
    line-height:20px;
    color:#079def;
    Padding:10px;
  }
  
  .jform a:hover{
    color:#7a5dd2;
  }

  .journeyform{
    width:70%;
    padding: 10px 20px; 
    border-radius: 0px;
    background-color:white; 
    border:2px solid lightgray;
  }
  .journeyform label{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
  }
  
 .journeyform input{
    width:80%;
    margin-bottom: 5px;
  }
  .jname{
    height:25px;
    font-size: 12px;
    padding:0px;
  }
  .display{
    height:45px;
    font-size: 12px;
    padding:0px;
  }
  .overview{
    height:55px;
    font-size: 12px;
    padding:0px;
  }
  .completion{
    height:55px;
    font-size: 12px;
     padding:0px;
  }
  .jstatus{
    height:25px;
    font-size: 12px;
    padding:0px;
  }

  .journeyform p{
    color: gray;
    font-size: 12px;
  }
  .journeyform .remchars{
    color:black;
  }

  .status{
    width :220px;
    background:#ffffff;
    color:#000000;
    top:15%;
    right:5%;
    position:absolute;
    box-sizing: border-box;
    padding: 20px 10px;
    border:2px solid lightgray;
 
  }
  .status hr {
    width:100%;
  }
  .notes{
    width :220px;
    background:#ffffff;
    color:#000000;
    top:70%;
    right:5%;
    position:absolute;
    box-sizing: border-box;
    padding: 20px 10px;
    border:2px solid lightgray;
  }

  .notes p{
    font-size: smaller;
    color:lightgray;
  }
   .jbox{
    border: 2px solid lightgray;
   }

  table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th {
    height: 50px;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid darkgray;
    align-items: center;
  }
  td{
    height:25px;
    font-size: 14px;
    align-content: center;
  }
  th{
    background-color: lightgray;
    height:30px;
  }

  .adduser{
    width :450px;
    background:#ffffff;
    color:#000000;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
   

  }
 
  .adduser label{
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  .adduser input{
    width:100%;
    margin-bottom: 10px;
  }
  .adduser input[type="text"], input[type="email"] {
    border: 1px solid black;
    background: transparent;
    height:25px;
    color:#000000;
    font-size:12px;
  }
  .adduser select{
    display:block;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid black;
    background-color: #fff;
    box-shadow: none;
    margin-bottom: 20px;
    width:100%;
  }

  .adduser input[type="submit"]{
    border: none;
    outline:none;
    height: 20px;
    width:25%;
    background:#079def;
    color:#fff;
    font-size:16px;
    border-radius:5px;
    margin-right: 20px;
    margin-left: 4px;
  }

  .adduser a{
    text-decoration: none;
    line-height:20px;
    color:#079def;
  }
  
  .adduser a:hover{
    color:#790adb;
  } 
  
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid lightgray;
  transition: all 0.2s ease-in-out;
}

.dropdown-menu--closed {
  display: none;
}

.dropdown-menu--open {
  display: flex;
}

.dropdown-menu-item {
  font-size: 14px;
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
 
}

.dropdown-menu-item:hover {
  background-color: #079def;
}

.collapsible .content {
  padding: 6px;
  background-color: white;
}
.collapsible .collapse {
  background-color: white;
  padding: 6px;
  cursor: pointer;
  align-items: left;
}

.sform{
  width:100%;
}
.stagetitle{
  color: black;
  background-color: lightgray;
  height: 35px;
  margin-bottom: 15px;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
nav ul li a {
  list-style: none;
  color: white;
  text-decoration: none;
  display: inline-block;
}
nav li a:hover {
  background-color: #0362a5;
}
nav li a:active {
  background-color: #327fb7;
}

.page ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page li{
  display: inline-block;
}

.page-item.active .page-link {
  background-color: #007bff;
  border: 1px solid darkgray;
  border-radius: 2px;
  color:#dddddd;
}
.page-item.active .page-link:hover {
  background-color: #007bff;
  border-color: #f9fbfd;
}
.pagination{
  background-color: white;
  border:1px solid darkgray;
  width:100%;
  text-align: center;
  font-weight: lighter;
}
.star{
  color:red;
  font-weight: bold;
}

.delete{
color:#000000;
margin-left: 800px;
}
.stageform{
  border: 1px solid lightgray;
  padding:25px;
  background-color: rgb(255, 255, 255);
}
